<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, QN.EDF.EntLib.Data"/>
		<section name="edf.dataAccess" type="QN.EDF.Data.Configuration.DataAccessSettings, QN.EDF.Data" />
	</configSections>
	<dataConfiguration defaultDatabase="QNMYSQL"/>
	<edf.dataAccess>
		<systemFields>
			<add name="VersionNo" fieldName="VERSION_NO" />
			<add name="TransactionId" fieldName="TRANSACTION_ID" />
			<add name="CreatedBy" fieldName="CREATED_BY" />
			<add name="CreatedTime" fieldName="CREATED_TIME" />
			<add name="LastUpdatedBy" fieldName="LAST_UPDATED_BY" />
			<add name="LastUpdatedTime" fieldName="LAST_UPDATED_TIME" />
		</systemFields>
		<commands>
			<add name="Select" format="P_{TableName}_S" />
			<add name="Delete" format="P_{TableName}_D" />
			<add name="Update" format="P_{TableName}_U" />
			<add name="Insert" format="P_{TableName}_I" />
		</commands>
		<parameters>
			<add name="Current" format="p_{DataColumnName}" />
			<add name="Original" format="o_{DataColumnName}" />
		</parameters>
		<schemaMappings>
			<add name="dataTableName" format="T_{TableName}" />
			<add name="dataColumnName" format="{DataColumnName}" />
		</schemaMappings>
	</edf.dataAccess>
	<connectionStrings>
		<add name="QNMYSQL" connectionString="server=1.1.1.1;Port=3306;User Id=czh;password=1;Database=ots_photography;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
            